// Use !{var} to use unescaped conent
html
  head
    style
      include style.css

h1.title Votre numéro de facture ##{invoice.id}

p.created-at #{invoice.createdAt}

h3 For: #{invoice.customer.name}

table
    thead
        tr
            th #
            th Article
            th Prix
    tbody
        each line in invoice.lines
            tr
                td #{line.id}
                td #{line.item}
                td #{line.price}

div.table-footer Expédition: #{invoice.shipping}
div.table-footer total: #{invoice.total} €

h3.comments-title Autoclérapide
p #{invoice.comments}

